.mystyle {
    font-size: 10pt; 
    font-family: Arial;
    border-collapse: collapse; 
    text-align: center;
    width: 380px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 15px;
}

.mystyle td:nth-child(1n) {
    column-width: 75px;
}
.mystyle td:nth-child(2n) {
    column-width: 300px;
}
.mystyle td:nth-child(3n) {
    column-width: 300px;
}
.mystyle td:first-child {
    column-width: 300px;
    background-color: black;
    color: white;
    border-bottom: 1px solid #fff;
}

.mystyle th:first-child { 
    background-color: white;
    border-top: 1px solid black;
	border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.mystyle tr,td {
    padding: 5px;
    border: 1px solid #000;
}
.mystyle td {
    padding: 5px;
    border-right: 1px solid #000;
}
.mystyle th {
    padding: 5px;
    border-right: 1px solid #000;
}
/*.mystyle th:nth-child(1n) {
    column-width: 400px;
}*/
.mystyle th {
    background-color: black;
    color: white;
    border-bottom: 1px solid #000;
}

.mystyle html {
    height: 500px;
}


.tablinks {
    padding: 4px;
    margin-bottom: 10px;
    margin-right: 15px;
    position: relative;
    left: 90px;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tablinks2 {
    padding: 3px;
    margin-bottom: 10px;
    margin-right: 10px;
    position: relative;
    left: 70px;
    border-radius: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.bottom {
    padding: 4px;
    font-size: 10pt;
    position: relative;
    left: 70pt;
    margin-top: 10pt;
    font-style: italic;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: yellowgreen;
    background-color: transparent;
    text-decoration: underline;
  }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 90px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgb(0,0,0); Fallback color */
    /* background-color: rgba(0,0,0,0.4); Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    /* margin: auto; */
    margin-left: 50px;
    margin-top: 350px;
    padding: 5px;
    border: 1px solid #888;
    width: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }